/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #61dafb;
    background-attachment: fixed;
    background-size: cover;
}

.contenedores{
    display: flex;
    flex-direction: row;
}
#contenedor_header {
    background-color: yellow ;
    padding: 20px 0;
    text-align: center;
    color: red;
    width:50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.contenedor_secciones{
    background-color: rgb(89, 0, 255) ;
    padding: 50px 0;
    text-align: center;
    color: red;
    width:25%;
    height: 90%;
    margin-left: 1rem;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 95%;
    background-size: cover;
}

.contenedor_secciones2{
    background-color: rgb(89, 0, 255) ;
    padding: 50px 0;
    text-align: center;
    color: red;
    width:25%;
    height: 90%;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    background-size: cover;
}

.secciones_seccion{    
    background-color: yellow ;
    padding: 20px 0;
    text-align: center;
    color: red;
    width:35%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;

}

#contenedor_seccion2{
    width:55%;
}

#nav_seccion1{
    background-color: chartreuse ;
    padding: 10px 0;
    text-align: center;
    color: red;
    width:92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 10px;
}

#aside_seccion1{
    background-color: rgb(255, 0, 0) ;
    padding: 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.section_header{
    
}

nav{
    background-color: chartreuse ;
    padding: 20px 0;
    text-align: center;
    color: red;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

















