/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffffff;
}

.contenedores{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
}
#contenedor_header {
    background-color: rgb(65, 67, 84) ;
    padding: 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.contenedor_secciones{
    background-color: rgb(174, 177, 168) ;
    padding: 50px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:25%;
    margin-left: 1rem;
    margin-right: auto;
    margin-top: 1rem;
    background-size: cover;
}

.parrafo{
    background-color: rgb(13, 3, 49) ;
    padding: 10px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor_secciones2{
    background-color:rgb(174, 177, 168) ;
    padding: 50px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:25%;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    background-size: cover;
}

.secciones_seccion{    
    background-color: rgb(35, 41, 103) ;
    padding: 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:35%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    margin-top: 1rem;

}

#Sec1{
    width: 90%;
    margin-bottom: 10px;
}

#Sec2{
    width:55%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#Sec3{
    width: 90%;
    padding: 0%;
}

#as_s2{
    width: 90%;
    padding: 0%;
}

.article{
    background-color: rgb(148, 127, 225) ;
    padding: 10px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    
}

.aside{
    background-color: rgb(85, 158, 122) ;
    padding: 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav{
    background-color: chartreuse ;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

#Ar_H{
    width: 70%;
    margin-top: 1rem;
}

#As_H{
    width: 20%;
}

#Sec_H{
    background-color: aqua;
    width: 20%;
    margin-top: 1rem;
}

.footer{
    background-color: rgb(50, 53, 162) ;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    width:93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

/*comentario*/
/*segundo comentario*/
